Repository exercism/elixir-analyzer, pull requests merged in 2021-12, with the labels that each got.

#238 Add warning when `suppress_if` doesn't have the proper arguments
  lib/elixir_analyzer/exercise_test/assert_call.ex
  lib/elixir_analyzer/exercise_test/check_source.ex
  lib/elixir_analyzer/exercise_test/feature.ex
  test/elixir_analyzer/exercise_test/suppress_if_test.exs
Labels: x:action/improve, x:size/small

#206 Add div/rem related check to Sieve
  config/config.exs
  lib/elixir_analyzer/constants.ex
  lib/elixir_analyzer/exercise_test/assert_call/compiler.ex
  lib/elixir_analyzer/test_suite/sieve.ex
  test/elixir_analyzer/test_suite/sieve_test.exs
Labels: hacktoberfest-accepted

#240 Tweak private function common check to consider default arguments
  lib/elixir_analyzer/exercise_test/common_checks/private_helper_functions.ex
  test/elixir_analyzer/exercise_test/common_checks/private_helper_functions_test.exs
Labels: x:action/improve, x:module/analyzer, x:type/coding, x:size/small

#241 Add analyzer check for `remote-control-car`
  config/config.exs
  lib/elixir_analyzer/constants.ex
  lib/elixir_analyzer/test_suite/remote_control_car.ex
  test/elixir_analyzer/test_suite/remote_control_car_test.exs
Labels: x:module/analyzer, x:type/coding, x:size/small

#245 Extend file-sniffer analyzer to include more patterns
  lib/elixir_analyzer/test_suite/file_sniffer.ex
  test/elixir_analyzer/test_suite/file_sniffer_test.exs
Labels: x:module/analyzer, x:type/coding, x:size/small
